@charset "UTF-8";

.tabQuattro{
	border: 2px solid black;
	background-color: darkblue;
	width:100%;
	aspect-ratio: 7/6;
	max-width: 650px;
}

#freccegiu{
	width:100%;
	aspect-ratio: 14/1;
	text-align:center;
	max-width: 650px;
}

#baseQuattro{
	border: 2px solid black;
	background-color: darkblue;
	width:100%;
	height: 30px;
	max-width: 650px;
}

.cellQuattro{
	border-radius: 25px;
 	border: 2px solid darkblue;
 	background-color: white;
 	text-align: center;
 	aspect-ratio: 1/1;

}

.pulsQuattro{
	margin-top: 25px;
	max-width: 650px;
	width:100%;
	background-color: darkblue;
}

#players{
	margin-top: 10px;
	margin-bottom: 10px;
	
}


.celPuls{
	text-align: center;
}

.pulsPl{
	width:100%;
	min-height:70px;
	height:90%;
}

.redplayer{
	color:red;
}

.yellowplayer{
	color:orange;

}